[Desktop Entry]
Name=freshGram
Comment=Telegram Desktop client with Material Design look and AyuGram features
TryExec=freshGram
Exec=env DESKTOPINTEGRATION=1 freshGram -- %U
Icon=io.github.snowyfluffy.freshgram
Terminal=false
StartupWMClass=freshGram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;freshgram;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=freshGram -quit
Name=Quit freshGram
Icon=application-exit
